<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Forgot Password</title>
    <link rel="icon" type="image/png" href="images/icons/favicon.ico" />
    <link
      rel="stylesheet"
      type="text/css"
      href="vendor/bootstrap/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="fonts/font-awesome-4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" type="text/css" href="vendor/animate/animate.css" />
    <link
      rel="stylesheet"
      type="text/css"
      href="vendor/css-hamburgers/hamburgers.min.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="vendor/select2/select2.min.css"
    />
    <link rel="stylesheet" type="text/css" href="css/util.css" />
    <link rel="stylesheet" type="text/css" href="css/main.css" />
  </head>
  <body>
    <div class="limiter">
      <button class="back-button" onclick="window.location.href='/login'">
        <i class="fa fa-reply" aria-hidden="true"></i>
      </button>
      <div class="container-login100">
        <div class="wrap-login100">
          <div class="login100-pic js-tilt" data-tilt>
            <img src="images/img-01.png" alt="IMG" />
          </div>

          <form
            class="login100-form validate-form"
            action="/password-reset"
            method="POST"
          >
            <% if (message) { %>
            <div class="alert alert-danger" role="alert">
              If this email exists in our system, a reset link has been sent.
            </div>
            <% } %> <% if (message2) { %>
            <div class="alert alert-success" role="alert">
              A reset link has been sent to your email.
            </div>
            <% } %> <% if (message3) { %>
            <div class="alert alert-danger" role="alert">
              An error occurred. Please try again later.
            </div>
            <% } %>

            <span class="login100-form-title"> Forgot Password </span>

            <p class="text-center">
              Enter your email address to reset your password
            </p>

            <div
              class="wrap-input100 validate-input"
              data-validate="Valid email is required: ex@abc.xyz"
            >
              <input
                class="input100"
                type="email"
                name="email"
                placeholder="Email"
                required
              />
              <span class="focus-input100"></span>
              <span class="symbol-input100">
                <i class="fa fa-envelope" aria-hidden="true"></i>
              </span>
            </div>

            <div class="container-login100-form-btn">
              <button type="submit" class="login100-form-btn">
                Send Reset Link
              </button>
            </div>

            <div class="text-center p-t-12">
              <a class="txt2" href="/login">
                <i class="fa fa-long-arrow-left m-r-5" aria-hidden="true"></i>
                Back to Login
              </a>
            </div>
          </form>
        </div>
      </div>
    </div>

    <script src="vendor/jquery/jquery-3.2.1.min.js"></script>
    <script src="vendor/bootstrap/js/popper.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="vendor/select2/select2.min.js"></script>
    <script src="vendor/tilt/tilt.jquery.min.js"></script>
    <script>
      $(".js-tilt").tilt({
        scale: 1.1,
      });
    </script>
    <script src="js/main.js"></script>
  </body>
</html>
