<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Reset Password</title>

    <!-- Bootstrap CSS from CDN -->
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <!-- Font Awesome for the back button icon -->
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
      rel="stylesheet"
    />
    <style>
      body {
        background-color: #f4f7fc;
      }
      .container {
        max-width: 500px;
        margin-top: 100px;
        background-color: #fff;
        padding: 30px;
        border-radius: 8px;
        box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
      }
      .back-button {
        font-size: 18px;
        color: #007bff;
        text-decoration: none;
        margin-bottom: 20px;
      }
      .back-button:hover {
        text-decoration: underline;
      }
      h2 {
        margin-bottom: 30px;
      }
      .btn-custom {
        background-color: #007bff;
        color: white;
        border-radius: 4px;
        font-size: 16px;
      }
      .btn-custom:hover {
        background-color: #0056b3;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <a href="/login" class="back-button">
        <i class="fa fa-reply" aria-hidden="true"></i> Back to Login
      </a>

      <h2>Reset Password</h2>
      <% if (message) { %>
      <div class="alert alert-danger" role="alert">Passwords do not match</div>
      <% } %>
      <form action="/password-reset/<%= token %>" method="POST">
        <!-- Dynamically insert the token -->
        <!-- New Password Field -->
        <div class="form-group">
          <label for="password">New Password:</label>
          <input
            type="password"
            class="form-control"
            id="password"
            name="password"
            pattern=".{7,15}"
            required
          />
        </div>

        <!-- Confirm Password Field -->
        <div class="form-group">
          <label for="confirmPassword">Confirm Password:</label>
          <input
            type="password"
            class="form-control"
            id="confirmPassword"
            name="confirmPassword"
            pattern=".{7,15}"
            required
          />
        </div>

        <!-- Submit Button -->
        <button type="submit" class="btn btn-custom btn-block">
          Reset Password
        </button>
      </form>
    </div>

    <!-- Bootstrap JS and dependencies from CDN -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>
</html>
